.org-div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#pet_saude {
  border: 1px solid white;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  #main-content {
    width: 55%;
  }
}
